<h1>Welcome</h1>

<p>We are currently working on your account.</p>
<h2>Make Deposits:</h2>
<form action="/deposit" method="POST">
  <input type="number" name="deposit" min="0" value="0" step="0.01">"
  
</form>

<h2>Make Withdrawal:</h2>


<p><a href="/logout">Log Out</a></p>
