<!--<form action="/account/edit >" method="POST">-->
  <!--must include:-->
<!--  <input id="hidden" type="hidden" name="_method" value="PATCH">-->
  
  <!--displays the existing object in the edit form-->
  <!--saves edits to an account-->
  <!--submits the form via a patch request-->
<!--  <label>Deposit: </label>-->
<!--  <input id="withdrawal" type="number" name="withdrawal" value="<%= @user.balance %>">-->
<!--  <label>Article Content: </label>-->
<!--  <input id="deposit" type="number" name="deposit" value="<%= @user.balance %>">-->
<!--  <button type="submit">Submit</button>-->
  
<!--</form>-->